
body{
  /*background-image: url(http://img.groundspeak.com/waymarking/22160f27-cd56-4906-8af4-02592d2fe3ff.JPG);*/
  background-position: center;
    background-color:#F0EFEA;
    font-family: Lato;
  border: 1px solid #bdc3c7;
}

#inner{
  border:  20px solid #bdc3c7 ;
  padding: 20px;
  max-width: 700px;
  width: 80%;
  margin: 20px auto;
  font-family: Source Sans Pro;
  text-align: left;
  margin-top: 20px


}


.entry-title{
  color: Blue ;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.entry-content{
 color:black;
  
}
#footer{
  clear:both;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-size: 10px;
  color: #c9c9c9c;
  border-top: 1px solid #efefef;
  padding: 13px 25px;
  line-height: 18px;
}
#footer #altnav{
  clear: both;
  width: 350px;
  float: right;
  text-align: right;
  padding-top: 13px;
}
#footer{
  padding-top: 13px;
  color: #c9c9c9c;
}
#footer a{
  color:#c9c9c9c;
  text-decoration: none;
}
#footer a:hover{
  color: #db6d16;
}
#copyright{
  color:#c9c9c9c ;
}
#inner{
  background-color: #F0EFEA;

}
