.pink{
	background: pink;
	border: 1px solid purple;
	/*padding-bottom: : 20px;
	margin-top: 20px;*/
}
.orange{
	background: Orange;
	border: 1px dashed red;
}

.blue{
	background: blue;
	border: 1px dashed green;
}
#footer{
  clear:both;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-size: 10px;
  color: #c9c9c9c;
  border-top: 1px solid #efefef;
  padding: 13px 25px;
  line-height: 18px;
}
#footer #altnav{
  clear: both;
  width: 350px;
  float: right;
  text-align: right;
  padding-top: 13px;
}
#footer #copyright{
  padding-top: 13px;
  color: #bdc3c7;
}
#footer a{
  color:#c9c9c9c;
  text-decoration: none;
}
#footer a:hover{
  color: #db6d16;
}
