html,body{
	margin:0;
	padding: 0;
}
body{
	font-size: 12px;
	font-family: Arial,Helvetica,vardana,Sans-serif;
	color: #666666;
	text-align: center;
}


body.about #header{
	height: 150px;
	background: #db6d16
	       url("C:/Users/Hp p6310f/Desktop/project/church website/images/rohobth.jpg");
}
.hidden  {
  display: inline-block;
  
}
h1{
	margin-right: 0;
	padding: 0;
	float: right;
	margin-top: 57px;
	padding-right: 31px;
}

#page-container{
	
	width: 760px;
	margin: auto;
	text-align: left;

}
#main-nav{
	padding-left: 11px;
	overflow: hidden;
	
}
#main-nav ul{
	margin: 0;
	padding: 0;
	
}
#main-nav li{
	float: left;
	
}
#main-nav li a{
	display: block;
	height: 0px !important;
	padding: 50px 0 0 0;
	overflow: hidden;
	background-repeat: no-repeat;

}
#main-nav li a:hover{
	background-position: 0 -50px;
}

#header{
	height: 150px;
	background:#db6d16 
	         /* Url("C:/Users/Hp p6310f/Desktop/project/church website2/images/rohochurch.jpg");*/
}
.post {
	float: right;
	width: 280px;
	line-height: 18px;
	margin: 20px;
}
/*.post .padding{
	padding:25px;*/

.qoute{
	border-left: 5px solid #bdc3c7;
	padding-left: 5px;
	font-family: source sans pro;
}

#content{
	margin-right: 280px;
	line-height: 18px;
	text-align: left;
}
#content .padding{
	padding: 25px;
}
#content h2{
	margin: 0;
	padding: 0;
	padding-bottom: 15px;
}
#content p{
	margin: 0;
	padding: 0;
	padding-bottom: 15px;
}
#footer{
	clear:both;
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-size: 10px;
	color: #c9c9c9c;
	border-top: 1px solid #efefef;
	padding: 13px 25px;
	line-height: 18px;
}
#footer #altnav{
	clear: both;
	width: 350px;
	float: right;
	text-align: right;
	padding-top: 13px;
}
#footer #copyright{
	padding-top: 13px;
}
#footer a{
	color:#c9c9c9c;
	text-decoration: none;
}
#footer a:hover{
	color: #db6d16;
}

